:root{
    --primary-text-color:  rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color:  #18A0FB;
    --primary-bg-color: #ffffff;
}
.page{
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
    letter-spacing: -0.015em;
    font-family: Montserrat, sans-serif;
     
    
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
/* background: #F5F5F5; */
.page-logo{
    color:var(--title-text-color) ;
    font-size: 28px;
    line-height: 1.14 ;
    font-family: Comfortaa, sans-serif;
}
.link{
    text-decoration: none;
    color:  inherit;
    font-size: 15px;
    line-height: 1.2;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
    
}

.list{
    list-style: none;
}.button{
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}
  .link.primary{
   
    background-color: var(--primary-bg-color);
    color: var(--accent-color);
} 
.link.secondary{
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-size: 17px;
    line-height: 1.23;
}    
.section-title {
    color:var(--title-text-color);
    font-size: 56px;
    line-height: 1.43;
    text-align: center;
}
/* features */  
.section-feautures{
    color: var(--title-text-color);
    font-size: 48px;
    line-height: 1.5;
}

.features-title{
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
}
.features-link{
    color:var(--accent-color);
}
/* example work */
.work-title ,
.title
{
    color: var(--title-text-color);
}
.section-work ,
.section-signup {
    background: #F5F5F5;
}

